@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

html {
    height: 100%;
  }
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #434343;
    background-size:50px 50px;
    background-image:linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
  }

.container {
    max-width: 1500px;
    margin:20vh auto 0 auto;
    border-radius: 10px;
    border: solid 5px rgba(41, 39, 39, 0.363);
    background-image: url(mqRoyp.jpg);
    background-size: cover;
    box-shadow: 20px 16px 18px 10px rgba(34, 28, 28, 0.342);
}
.calculator {
    max-width: 400px;
    margin:5vh auto 0 auto;
    margin-bottom: 5vh;
    border-radius: 10px;
    border: solid 10px rgba(41, 39, 39, 0.363);
    border-style:groove;
    background-image: linear-gradient(#447eb4,  rgba(0, 0, 0, 0.432), #484adb);
    box-shadow: 6px 8px 9px 5px rgba(0, 0, 0, 0.342);
}

.text {
    color: white;
    font-family: Lucida Handwriting;
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    text-shadow: 8px 3px 9px black;
}


.screen {
    height: 100px;
    line-height: 70px;
    padding: 30px 15px;
    margin-bottom: 30px;
}

#display {
    text-align: right;
    color: #8d182a;
    height: 90px;
    width: 90%;
    padding: 15px 11px;
    font-size: 28px;
    background-image: linear-gradient( rgba(147, 219, 138, 0.6), #d4cf88,#fafafa);
    border-radius: 20px;
    box-shadow: 2px 2px 2px #04050c;
    margin-left: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin: 15px;
    margin-bottom: 30px;
    background-color: inherit;
}

button {
    border-radius: 35px;
    color: white;
    background-image: linear-gradient(#429ec2, #18628d);
    border-color: #2f080e #2f080e hsl(351, 68%, 1.5%);
    box-shadow: 2px 4px 6px #2f080e;
    text-shadow: 2px 3px 9px black;
    line-height: 60px;
    text-align: center;
    font-size: 22px;
    cursor: pointer;
}

button:hover {
    transition: 1s;
    border-radius: 35px;
    background-image: linear-gradient(#447eb4,  rgba(0, 0, 0, 0.432), #484adb);
}
    

button:active {
 background: #e5e5e5;
 -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
 -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
 box-shadow: inset 0px 0px 5px #c1c1c1;
}

footer {
    color: white;
    text-align: center;
    margin-top: 70px;
    font-size: 30px;
    font-family: Segoe Print;
    text-shadow: 8px 3px 9px black;

}

